@import "tailwindcss";


:root {
  --color-primary: #000000;      /* black for buttons, headings */
  --color-secondary: #ffffff;    /* white text on primary bg */
  --color-accent: #ff6f61;       /* highlight, hover, accent elements */
  --color-bg: #f9f9f9;           /* page background */
  --color-text: #333333;         /* normal text */
  --color-hover: #e5e5e5;        /* hover background */
}
