@import "tailwindcss";

:root {
  --radius: 10px;

  /* 🔴 Brand Red System */
  --color-primary: #ef4444;   /* Main Red (borders, buttons, highlights) */
  --color-hover:   #dc2626;   /* Hover / Active */

  /* ⚪ Base Colors */
  --color-bg: #ffffff;
  --color-text: #111827e0;
  --color-secondary: #ffffff;
}


/* 🔵 Remove browser blue autofill background */
input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus {
  -webkit-box-shadow: 0 0 0px 1000px var(--color-secondary) inset !important;
  -webkit-text-fill-color: var(--color-text) !important;
  transition: background-color 5000s ease-in-out 0s;
}
