---
import "../styles/global.css";
---

<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width" />
    <title>Booking System</title>
  </head>
  <body class="bg-white text-gray-900">
    <slot />
  </body>
</html>
